body {
    font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
}
/* グローバルナビ */
#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: rgba(33,33,33,.9);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
}

#wrapper nav ul li {
    padding: 20px 28px
}

#wrapper nav ul li a {
    text-decoration: none;
    color: #ddd
}

#wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#wrapper .btn-gnavi.open span {
    background: #fff
}

#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(-7px,17px) rotate(45deg);
    transform: translate(-7px,17px) rotate(45deg)
}

#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px,-17px) rotate(-45deg);
    transform: translate(-7px,-17px) rotate(-45deg)
}

/*スライダー*/
#wrapper .slider {
    position: relative;
    width: 640px;
    margin: 0 auto 20px;
    padding: 0 20px;
}

    #wrapper .slider .slider-inner {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 480px
    }

    #wrapper .slider .slider-inner li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transition: all 600ms;
        transition: all 600ms;
        pointer-events: none
    }

    #wrapper .slider .slider-inner li.show {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        z-index: 1;
        pointer-events: auto
    }

    #wrapper .slider .slider-inner li img {
        width: 100%;
        height: auto
    }

    #wrapper .slider .nav {
        width: 100%;
        text-align: center;
        font-size: 0;
        background: #000
    }

    #wrapper .slider .nav li {
        display: inline-block;
        width: 25%;
        height: 100px;
        background: #ddd;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
        -webkit-transition: opacity 400ms;
        transition: opacity 400ms;
        opacity: .5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
    }

    #wrapper .slider .nav li:hover,#wrapper .slider .nav li.current {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }

    #wrapper .slider .arrow {        
        position: absolute;
        top: 50%;
        font-size: 20px;
        cursor: pointer;
        width: 60px;
        height: 60px;
        background: #000;
        color: #fff;
        line-height: 40px;
        padding: 5px;
        -webkit-transition: opacity 400ms;
        transition: opacity 400ms;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wrapper .slider .arrow:hover {
        opacity: .7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
    }

    #wrapper .slider .arrow#arrow-prev {
        left: 0!important;
        -webkit-transform: translate(-100%,-50%)!important;
        transform: translate(-100%,-50%)!important
    }

    #wrapper .slider .arrow#arrow-next {
        left: auto!important;
        right: 0!important;
        -webkit-transform: translate(100%,-50%)!important;
        transform: translate(100%,-50%)!important
    }


/*ポップアップ*/
#wrapper #section04 ul {
    text-align: center;
}

    #wrapper #section04 ul li {
        margin: 10px 0;
    }



/*コンテンツエリア*/
#wrapper .contents section {
    position: relative;
    width: 100%;
    padding-bottom: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed
}
    #wrapper .contents section#section01 {
        height: 100vh;
    }
#wrapper .contents section h1,
#wrapper .contents section h2 {
    text-align: center;
}
#wrapper .contents section h2 {
    font-size: 60px;
    margin-bottom: 60px;
}

#wrapper .contents section a {
    color: #fff
}


/*地図*/
#wrapper #map {
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

/*他*/
#wrapper .contents section#section01 .section-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
}

#section02 {
}
    #section02 p {
        text-align: center;
    }
